.update-password-container{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 2;
}

.update-password-container .update-form-container{
    width: 35rem;
    padding: 2rem;
    background-color: white;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    backdrop-filter: 50px;
}

.update-password-container .update-form-container input{
    height: 3rem;
    padding: 2rem 1.5rem;
    border: 1px solid #818c9d;
    border-radius: .4rem;
}

.update-password-container .update-form-container button{
    padding: 1.6rem;
    background-color: #818c9d;
    border-radius: .4rem;
    border: none;
    color: white;
}

.update-password-container .update-form-container button:first-of-type{
    background-color: white;
    border: none;
    color: #818c9d;
}

.update-password-container .update-form-container button:first-of-type:focus{
    outline: none;
}

.update-password-container .update-form-container .button-group button{
    width: 100%;
}




