#Orbit{
    animation: orbit 2s normal ease infinite;
    transform-origin: 50% 50%;
}

@keyframes orbit {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}