@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;  
    font-family: 'Montserrat';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
    display: none;
}

body .confirmation-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body .confirmation-container img{
    width: 20rem;
}

